<div class="answer-wrapper">
  <%= form_for([@question, @question.answers.build]) do |f| %>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
